.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    position: absolute;
    left: 150px;
    right: 20px;
    margin-top: 27px;
}

@media screen and (max-width: 450px) {
    .product-list  { width: 100px; padding: 20px 20px; left: 250px;}
  }