<div class="shopping-cart">
  <!-- Title -->
  <div class="title">Shopping Bag</div>

  <!-- Product #1 -->
  <div class="item">
    <div class="buttons">
        <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        [disableRipple]="'true'"
      >
      <mat-icon>delete_sweep</mat-icon>
      </button>
      <span class="like-btn"></span>
    </div>

    <div class="image">
      <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="" />
    </div>

    <div class="description">
      <span>Common Projects</span>
      <span>Bball High</span>
      <span>White</span>
    </div>

    <div class="quantity">
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        [disableRipple]="'true'"
      >
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <input type="text" name="name" value="1" />
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
        [disableRipple]="'true'"
      >
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    </div>

    <div class="total-price">$549</div>
  </div>
</div>
